body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  background-color: #8996a6;
}

img {
  max-width: 100%
}

a {
  text-decoration: none
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main-navigation {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  list-style: none;
}

.site-navigation a,
.user-navigation a,
.main-navigation a,
.button a,
.catalog a,
.footer a,
.schedule a {
  color: #ffffff;
  list-style: none;
}

.main-navigation a:hover {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background-color: #ffffff;
  color: #323232;
}

.main-navigation a:focus {
  background-color: #d07058;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.user-navigation {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  list-style: none;
}

.site-navigation {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  list-style: none;
}

h1 {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

.schedule p {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.schedule p a {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}

.special-offer {
  background-color: #8996a6;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  color: #ffffff;
}

.special-offer h2 {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.special-offer p {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.raspberry {
  background-image: url("img/raspberry.jpg");
}

.chocolate {
  background-image: url("img/chocolate.jpg");
}

.filter-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.feature {
  list-style: none;
  background-color: #8996a6;
  background-image: url("img/waffle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  color: #323232;
}

.feature-item p {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.feature-item ul {
  column-count: 2;
}

.feature-item li {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.blog {
  background-color: #8996a6;
  background-image: url("img/blog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.blog h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #323232;
}

.blog a {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.subscription {
  background-color: #8996a6;
  background-image: url("img/post.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.subscription p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.catalog span {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #ffffff;
}

.catalog p {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
}

.footer {
  font-weight: 400;
  font-size: 13px;
  line-height: 26px;
  color: #ffffff;
  list-style: none;
}

.footer a {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #fefefe;
}
