body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  background-color: #8996a6;
}

img {
  max-width: 100%
}

a {
  text-decoration: none
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main-header {
  display: flex;
  align-items: center;
  margin-left: 27px;
  margin-right: 27px;
  margin-top: 9px;
  flex-wrap: wrap;
}

.logo  {
  order: -1;
  width: 154;
  height: 64px;
  margin-left: 27px;
  margin-top: 9px;
  margin-right: 12px;
}

.main-navigation {
  display: flex;
  width: 350px;
  margin-right: 382px;
  margin-left: 12px;
  margin-top: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  list-style: none;
  order: -1;
  justify-content: space-between;
  align-content: space-between;
}

.site-navigation a,
.user-navigation a,
.main-navigation a,
.button a,
.catalog a,
.footer a,
.schedule a {
  color: #ffffff;
  list-style: none;
}

.main-navigation a:hover {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background-color: #ffffff;
  color: #323232;
}

.main-navigation a:focus {
  background-color: #d07058;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.user-navigation {
  display: flex;
  width: 245px;
  margin-right: 27px;
  margin-top: 22px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  list-style: none;
  justify-content: space-between;
  order: 0;
  align-content: space-between;
}

.site-navigation {
  display: flex;
  width: 220px;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.site-navigation li {
  list-style: none;
}

h1 {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

.schedule {
  display: flex;
  width: 200px;
  height: 40px;
  flex-wrap: wrap;
  align-self: space-between;
  justify-content: flex-end;
  color: white;
  order: +1;
}

.schedule p {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.schedule p a {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}

.offer {
  display: flex;
  flex-wrap: wrap;
}

.special-offer {
  display: flex;
  width: 560px;
  height: 229px;
  background-color: #8996a6;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  color: #ffffff;
  flex-wrap: wrap;
  margin: 27px;
  padding-left: 20px;
  padding-top: 23px;
  padding-bottom: 23px;
}

.special-offer h2 {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.special-offer p {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.special-offer a {
  color: white;
}

.raspberry {
  display: flex;
  background-image: url("../img/raspberry.jpg");
  margin: 27px;
  margin-right: 13px;
  flex-wrap: wrap;
}

.chocolate {
  display: flex;
  background-image: url("../img/chocolate.jpg");
  margin: 27px;
  margin-left: 13px;
  flex-wrap: wrap;
}

.filter-group {
  display: flex;
  flex-wrap: wrap;
  width: 857px;
}

.filter-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.feature {
  display: flex;
  width: 1146px;
  margin: 27px;
  background-color: #8996a6;
  background-image: url("../img/waffle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  color: #323232;
  padding-left: 48px;
  padding-right: 61px;
  padding-bottom: 27px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature-item h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.feature-item li {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  list-style: none;
  column-count: 2;
  padding: 28px;
}

.blog {
  display: flex;
  background-color: #8996a6;
  background-image: url("../img/blog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  margin: 27px;
  margin-right: 13px;
  width: 560px;
  height: 220px;
  padding-left: 20px;
  padding-top: 26px;
  flex-wrap: wrap;
}

.blog h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #323232;
}

.blog a {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
  width: 84px;
}

.subscription {
  width: 560px;
  height: 220px;
  background-color: #8996a6;
  background-image: url("../img/post.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  margin: 27px;
  margin-left: 13px;
  padding-top: 37px;
  padding-left: 27px;
  padding-right: 27px;
}

.subscription p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.blog-subscription {
  display: flex;
  flex-wrap: wrap;
}

.catalog span {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #ffffff;
}

.catalog p {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
}

.footer {
  display: flex;
  font-weight: 400;
  font-size: 13px;
  line-height: 26px;
  color: #ffffff;
}

.footer a {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #fefefe;
}

.footer li {
  list-style: none;
}

.networks {
  display: flex;
  width: 300px;
  padding: 14px;
  margin: 28px;
  justify-content: space-between;
}

.suppliers {
  display: flex;
  width: 326px;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 239px;
}

.htmlacademy {
  display: flex;
  width: 200px;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 231px;
}



